body {
  padding-top: 5rem;
  background-color: #131313;
  font-family: 'M PLUS Rounded 1c', sans-serif;
  /* overflow-y: hidden; */
}
a {
  text-decoration: none;
}
.starter-template {
  padding: 3rem 1.5rem;
  text-align: center;
}
.navbar {
  background-color: #131313;
  color: white;
  display: flex !important;
  justify-content: space-between !important;
  height: 60px;
  /* box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px; */
}
.navbar-brand {
  color: white;
  font-weight: 700;
}
.navbar-brand:hover {
  color: #fff;
}
.author {
  font-size: 12pt;
  margin-top: 15px;
}
#info {
  transition: 0.2s ease-in-out;
  color: #0076FF;
}
#info:hover {
  color: #004CA5;
  cursor: pointer;
}
#home {
  border-radius: 20px !important;
}
#home h5 {
  color: #0076FF;
}
.col-md-4, .col-md-6 {
  background-color: rgba(0, 0, 0, 0.7);
  padding: 40px;
  box-shadow: rgba(0, 0, 0, 0.5) 0px 5px 15px;
}
.col-md-6 {
  border-radius: 20px 0px 0px 20px;
}
.col-md-4 {
  border-radius: 0px 20px 20px 0px;
}
.p-text {
  font-size: 14pt;
  margin: 15px 0px;
}
table {
  width: 100%;
  font-size: 14pt;
  text-align: center;
  color: black;
  margin-top: 20px;
}
th, td {
  padding: 5px;
}
th {
  background-color: rgb(177, 177, 177);
}
#level-1 {
  background-color: rgb(96, 202, 96);
}
#level-2 {
  background-color: rgb(255, 255, 121);
}
#level-3 {
  background-color: rgb(255, 175, 101);
}
#level-4 {
  background-color: rgb(255, 96, 38);
}
#level-5 {
  background-color: rgb(255, 49, 49);
}
.slide {
  color: white;
}